/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
mat-sidenav {
    width: 360px;
}

mat-sidenav-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mat-nav-list .mat-list-item {
    color: #777;
}

mat-toolbar {
    color: white;
    background-color: #0197F6;
}

#menu-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#legal-link-wrapper {
    width: 100%;
    font-size: 13px;
}

#legal-links {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;

    a {
        color: #777777;
        text-decoration: none;

        &:visited {
            color: #999999;
        }
        &:hover {
            color: #333333;
        }
    }

    span {
        color: #333333;
    }
}

#uu-copyright {
    text-align: center;
    color: #777777;
    margin: 5px;
    font-size: 11px;
}

#sidenav-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.sidenav-image-wrapper {
    width: calc(100% - 20px);
    max-width: 200px;
    margin: 15px 10px;

    img {
        width: 100%;
    }
}

.bottom-nav {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: fit-content;
}

.login-container {
    z-index: 2;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    seed-login register-login {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    mat-sidenav {
        width: 100%;
    }

}

.search-box-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    margin: 5px 5px 5px 60px;
    padding: 0 15px 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // z-index: 1;

    form {
        width: 100%;
    }
    mat-form-field {
        width: 100%;
    }
    mat-icon {
        cursor: pointer;
    }

    ::ng-deep .mat-input-underline {
        display: none;
    }
    ::ng-deep .mat-form-field-infix {
        border-top: solid 8px transparent;
    }
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 8px;
    }
}

.map-overlay {
    z-index: 100;
    position: absolute;
    height: 100%;
    top: 0;
}

.main-hamburger{
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    width: 50px;
    height: 48px;
}

.icon-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidenav-profile {
    width: calc(100% - 32px);
    text-align: left;
    padding: 16px;
    display:flex;
    flex-direction: row;
    align-items: center;
    img {
        width: 64px;
        height: 64px;
    }
}

.sidenav-profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.sidenav-profile > span {
    margin: 0px;
    padding: 12px 0px 4px 4px;
}

.sidenav-profile > mat-icon {
    font-size: 4em;
    width: 64px;
    height: 64px;
}

.sidenav-large-font {
    font-size: 1.3em;
}

.sidenav-small-font {
    font-size: 0.9em;
}

@media only screen and (max-width: 600px) {
    .search-box-card {
        width: calc(100% - 128px);
    }

    mat-sidenav {
        width: 85%;
    }

    .legal-link-wrapper {
        font-size: 10px;
    }
}
