<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<mat-sidenav-container>
    <mat-sidenav #sidenav mode="over" [fixedInViewport]="true" (swipeleft)="sidenav.close()">
        <button id="sidenav-close" mat-icon-button (click)="sidenav.close()" class="highlightable-color">
            <mat-icon>chevron_left</mat-icon>
        </button>

        <div class="sidenav-profile non-highlightable-color" [style.justify-content]="authenticationState === 0 ? 'center' : 'left'">
            <img onClick="sidenav.close(); navigateMap()" src="../../../../assets/images/mees.png" alt="MEES logo">
            <div class="sidenav-profile-info">
                <span class="sidenav-large-font hard-color" *ngIf="authenticationState > 0">{{this.userService.userProfile.value.username}}</span>
                <span class="sidenav-small-font hard-color" *ngIf="authenticationState > 0">{{this.userService.userProfile.value.email}}</span>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div *ngIf="authenticationState === 0">
            <mat-nav-list>
                <a mat-list-item (click)="sidenav.close(); navigateMap()" class="highlightable-color">
                    <mat-icon matListIcon>map</mat-icon>
                    <span matLine>Map</span>
                </a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item (click)="sidenav.close(); router.navigate(['route-planner'])" class="highlightable-color" *ngIf="toggleRoutePlannerOn()">
                    <mat-icon matListIcon>directions</mat-icon>
                    <span matLine>Plan route</span>
                </a>
            </mat-nav-list>
            <mat-divider></mat-divider>

            <mat-nav-list>
                <a (click)="sidenav.close()" [routerLink]="['/login']" mat-list-item class="highlightable-color">
                    <mat-icon matListIcon>exit_to_app</mat-icon>
                    <span matLine>Sign in</span>
                </a>
                <a (click)="sidenav.close()" [routerLink]="['/register']" mat-list-item class="highlightable-color">
                    <mat-icon matListIcon>account_box</mat-icon>
                    <span matLine>Create an account</span>
                </a>
            </mat-nav-list>
            <mat-divider></mat-divider>


            <mat-nav-list>
                <a  *ngIf="!mobile" href="https://play.google.com/apps/testing/nl.uu.mees" target="_blank" mat-list-item class="highlightable-color">
                    <mat-icon matListIcon>play_for_work</mat-icon>
                    <span matLine>Download the app</span>
                </a>
                <a href="../../../../assets/docs/mees_help.pdf" target="_blank" mat-list-item class="highlightable-color">
                    <mat-icon matListIcon>help_circle</mat-icon>
                    <span matLine>Help</span>
                </a>
                <a href="mailto:meesweb2019@outlook.com?subject=Problem%20report%20MEES&amp;body=I%20would%20like%20to%20report%20the%20following%20problem%3A%0A" mat-list-item class="highlightable-color">
                    <mat-icon matListIcon>bug_report</mat-icon>
                    <span matLine>Report a problem</span>
                </a>
            </mat-nav-list>
        </div>
        <div *ngIf="authenticationState > 0">
            <mat-nav-list>
                <a mat-list-item (click)="sidenav.close(); navigateMap()" class="highlightable-color">
                    <mat-icon matListIcon>map</mat-icon>
                    <span matLine>Map</span>
                </a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item (click)="sidenav.close(); router.navigate(['route-planner'])" class="highlightable-color" *ngIf="toggleRoutePlannerOn()">
                    <mat-icon matListIcon>directions</mat-icon>
                    <span matLine>Plan route</span>
                </a>
            </mat-nav-list>
            <mat-nav-list *ngFor="let navGroup of navItems">
                <mat-divider></mat-divider>
                <ng-container *ngFor="let nav of navGroup">
                    <a mat-list-item  *ngIf="check(nav)" [routerLink]="nav.routerLink" (click)="sidenav.close()" class="highlightable-color">
                        <mat-icon matListIcon>{{nav.icon}}</mat-icon>
                        <span matLine>{{nav.text}}</span>
                    </a>
                </ng-container>
            </mat-nav-list>
            <mat-divider></mat-divider>

            <mat-nav-list>
                <a  *ngIf="!mobile" href="https://play.google.com/store/apps/details?id=nl.uu.mees" target="_blank" mat-list-item class="highlightable-color">
                    <mat-icon matListIcon>play_for_work</mat-icon>
                    <span matLine>Download the app</span>
                </a>
                <a href="../../../../assets/docs/mees_help.pdf" target="_blank" mat-list-item class="highlightable-color">
                    <mat-icon matListIcon>help_circle</mat-icon>
                    <span matLine>Help</span>
                </a>
                <a href="mailto:meesweb2019@outlook.com?subject=Problem%20report%20MEES&amp;body=I%20would%20like%20to%20report%20the%20following%20problem%3A%0A" mat-list-item class="highlightable-color">
                    <mat-icon matListIcon>bug_report</mat-icon>
                    <span matLine>Report a problem</span>
                </a>
            </mat-nav-list>
        </div>
        <div id="menu-footer">
            <div id="legal-link-wrapper">
                <div id="legal-links">
                    <a href="../../../../assets/docs/about.pdf" target="_blank">About</a>
                    <span>‧</span>
                    <a href="../../../../assets/docs/privacy-policy.pdf" target="_blank">Privacy Policy</a>
                    <span>‧</span>
                    <a href="../../../../assets/docs/terms-and-conditions.pdf" target="_blank">Terms &amp; Conditions</a>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div id="uu-copyright">
                <span>&copy; Utrecht University (ICS)</span>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-map></app-map>

        <div *ngIf="toggleSearchBar()">
            <mat-card class="search-box-card" *ngIf="toggleSearchBar() && toggleHamburger()">

                <form (ngSubmit)="navigateLocation()">
                    <mat-form-field class="search-box-form-field mat-invalid-form-field" floatLabel="never">
                        <input type="text" class="form-control" matInput autofocus minlength="1" placeholder="Search location" (input)="searchLocation = $event.target.value">
                    </mat-form-field>
                </form>

                <mat-icon matSuffix (click)="navigateLocation()" class="suffix-icon non-highlightable-color">search</mat-icon>
            </mat-card>
        </div>

        <div class="main-hamburger" *ngIf="toggleHamburger()">
            <div class="icon-wrapper highlightable-color">
                <button id="menu-icon" mat-icon-button (click)="sidenav.open()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>


        <div class="map-overlay" *ngIf="router.url !== '/'">
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
