/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */

/* Roboto font by Google */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* FontAwesome icons */
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

body.mees-page {
    min-width: 1400px;
    width: auto !important;
    margin: 0;
    color: #000000;
    background: #fcfcfc;
    font-family: 'Roboto', sans-serif;
}

.mees-page {
    margin-left: 85px;
    margin-right: 85px;
}

.mees-page-small {
    margin-left: 30%;
    margin-right: 30%;
}

.mees-textbox-large {
    margin-bottom: 10px;
    min-height: 100px;
}

.mees-page-title {
    color: #333333;
    padding-bottom: 20px;
    padding-top: 10px;
}

.mees-radio {
    width: 130px;
}

.alert {
    margin-left: 85px;
    margin-right: 85px;
}

.mees-title-container {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.mees-title-button {
    margin-left: auto;
    align-self: center;
}

.mees-align-right {
    float: right;
    margin-left: 4px;
}

.mees-error {
    color: red;
}

/* Navbar styles */
div#navbar {
    background-color: #f6f6f6;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #106e7c;
}

.nav-link {
    color: #fff;
    background-color: #17A2B8;
}

.nav-item {
    margin-right: 2px;
}

.mees-nav {
    justify-content: flex-end;
    margin-right: 80px;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 10px;
}

span.mees-admin {
    margin-right: auto;
    margin-left: 80px;
}

hr.mees-sep {
    margin-top: 0;
}

a:hover {
    color: #fff;
}

/* Table styles */
.mees-table-header {
    background-color: #106e7c;
    color: #fff;
}

table, tr, thead {
    border: 1px solid #106e7c !important;
}

th {
    border: 1px solid #094149 !important;
}

td {
    border: 1px solid #106e7c !important;
    word-break: normal;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #b2dde4;
    color: #000;
}

.table-striped tbody tr:nth-of-type(2n) {
    background-color: #d1eef1;
    color: #000;
}

.mees-btn-table {
    width: 100%;
    height: 30px;
    padding: 0px;
    color: white !important;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.btn-warning {
    color: #fff !important;
}

.btn.disabled, .nav-link.disabled {
    color: #fff !important;
    background-color: #ccc !important;
    border-color: #bbb !important;
}

.mees-table-input {
    padding: .1rem .3rem;
    height: 30px;
    flex: 1 1 auto;
    width: 1%;
}

.mees-table-title {
    width: 30%;
    margin-left: 5%;
    margin-right: 10%;
}

.mees-button-container {
    width: 70px;
    margin-left: 10px;
}

.mees-override-table-input {
    border-radius: .25rem !important;
    font-size: .7rem;
    padding: 0px 0px 0px .75rem;
    height: 30px;
}

.mees-subpage-nav {
    text-align: center;
}

.mees-top-spacing {
    margin-top: 16px;
}

.btn-tableinfo {
    width: 400px;
    margin: 2px 0px 2px 0px;
}

.tableinfo {
    border: 0px !important;
}

.tableinfo-buttons {
    width: 410px;
    text-align: center;
    padding-right: 10px;
}

.tableinfo-text {
    border-left: 1px solid #ddd !important;
    padding-left: 10px;
    /*vertical-align: top;*/
}
