/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */

/* Roboto font by Google */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* FontAwesome icons */
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

body.mees-page {
    margin: 0;
    color: #000000;
    background: #ffffff;
    background: url(../img/background.png) no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

form.mees-form {
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
    border: 2px solid;
    border-color: rgba(255, 255, 255, 1);
    padding: 20px;
    max-width: 540px;
    background: rgba(255, 255, 255, 1);
}

h3.mees-form-title {
    text-align: center;
    padding-bottom: 15px;
}


input.mees-form-button {
    float: right;
    min-width: 120px;
}

.alert {
    margin-left: 0px;
    margin-right: 0px;
}
