<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div *ngIf="showControls">
    <route-selection></route-selection>
</div>

<div id="mapid" (mousedown)="onContextMenu($event)" (press)="onLongPress($event)" oncontextmenu="return false"
    [ngClass]="{ 'grayscale-tiles': isLayerActive('raster') && rasterRetrieved }"></div>

<div class="contextmenu-wrapper" oncontextmenu="return false" *ngIf="((showContextMenu && showControls) && (toggleRoutePlannerOn() || toggleRatingOn()))" [style.top.px]="contextMenuLocation.y"
    [style.left.px]="contextMenuLocation.x">
    <div class="contextmenu">
        <mat-nav-list>
            <mat-list-item (click)="setClickPosition(0)" *ngIf="toggleRoutePlannerOn()">Plan route from here</mat-list-item>
            <mat-list-item (click)="setClickPosition(1)" *ngIf="toggleRoutePlannerOn()">Plan route via here</mat-list-item>
            <mat-list-item (click)="setClickPosition(2)" *ngIf="toggleRoutePlannerOn()">Plan route to here</mat-list-item>
            <mat-list-item (click)="leaveRating()" *ngIf="toggleGiveRatingOn() && toggleRatingOn()">Leave rating</mat-list-item>
        </mat-nav-list>
    </div>
</div>

<div *ngIf="showControls" class="toggle-button-container">
    <div class="toggle-button-wrapper">
        <div class="toggle-button not-selectable" (click)="toggleButtons()">
            <!-- <img class="button-icon" src="../../../../assets/icons/marker.png"> -->
            <mat-icon *ngIf="!dropDownButtons">expand_more</mat-icon>
            <mat-icon *ngIf="dropDownButtons">expand_less</mat-icon>
        </div>
        <div [@fallDownAnimation]='dropDownButtons' [ngClass]="{'active': isLayerActive('sensor')}" class="toggle-button not-selectable"
            [matTooltip]="getTooltip('Show sensors')" matTooltipPosition="before" matTooltipShowDelay="750" *ngIf="toggleSensorsOn()" (click)="toggleSensorLayer()">
            <!-- <img class="button-icon" src="../../../../assets/icons/marker.png"> -->
            <mat-icon>location_on</mat-icon>
        </div>
        <div [@fallDownAnimation]='dropDownButtons' [ngClass]="{'active': isLayerActive('raster')}" class="toggle-button not-selectable"
            [matTooltip]="getTooltip('Show raster')" matTooltipPosition="before" matTooltipShowDelay="750" *ngIf="toggleRasterOn()" (click)="toggleLayer('raster')">
            <!-- <img *ngIf = "!(isLayerActive('raster') && !rasterRetrieved)" class="button-icon" src="../../../../assets/icons/graph.png"> -->
            <mat-icon *ngIf = "!(isLayerActive('raster') && !rasterRetrieved)">border_all</mat-icon>
            <mat-spinner *ngIf = "isLayerActive('raster') && !rasterRetrieved" [diameter]="20"></mat-spinner>
        </div>
        <div [@fallDownAnimation]='dropDownButtons' [ngClass]="{'active': isLayerActive('rating')}" class="toggle-button not-selectable"
            [matTooltip]="getTooltip('Show ratings')" matTooltipPosition="before" matTooltipShowDelay="750" *ngIf="toggleRatingOn()" (click)="toggleLayer('rating')">
            <!-- <img class="button-icon" src="../../../../assets/icons/rating.png"> -->
            <mat-icon>star_rate</mat-icon>
        </div>
        <div [@fallDownAnimation]='dropDownButtons' class="toggle-button not-selectable" [matTooltip]="getTooltip('My location')" matTooltipPosition="before"
            matTooltipShowDelay="750" (click)="focusLocation()">
            <mat-icon>my_location</mat-icon>
        </div>
    </div>
</div>

<div class="QR-wrapper" *ngIf="presentation">
    <div class="QR-image">
        <img src="../../../../assets/images/qrApp.png" alt="QR code to the app">
    </div>
</div>

<div class="NO2-wrapper" *ngIf="presentation">
    <div class="NO2-image">
        <img src="../../../../assets/images/currentNO2intheair.png" alt="QR code to the app">
    </div>
</div>

<div class="legend-wrapper" matTooltip="Micrograms Nitrogen Dioxide per cubic metre">
    <div class="legend-image">
        <img src="../../../../assets/images/gradient.png" alt="Gradient for exposure">
    </div>
    <div class="legend-values">
        <span *ngFor="let elem of [' 0', '10', '20', '30', '40', '50', '60', '70', '80']">{{elem}}</span>
    </div>
</div>

<div *ngIf="(showControls && toggleExposureOn()) || presentation">
    <current-exposure></current-exposure>
</div>
