/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
#mapid {
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;

    cursor: default;
}

.QR-wrapper {
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 100%;
    max-width: 25%;

    color: #333;
    background-color: rgba(250, 250, 250, 0);
    .QR-image {
        width: 100%;
        height: 100%;
        display: flex;

        img {
            border-radius: 2px;
            width: 100%;
            height: 100%;
        }
    }
}

.NO2-wrapper {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    max-width: 40%;

    border: solid 15px #FAFAFA;
    box-sizing: border-box;
    border-radius: 15px;
    color: #333;
    background-color: #FAFAFA;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .NO2-image {
        width: 100%;
        height: 100%;
        display: flex;

        img {
            border-radius: 2px;
            width: 100%;
            height: 100%;
        }
    }
}

.legend-wrapper {
    position: absolute;
    right: 5px;
    bottom: 20px;
    width: 100%;
    max-width: 300px;

    border: solid 1px #FAFAFA;
    box-sizing: border-box;
    border-radius: 2px;
    color: #333;
    background-color: #FAFAFA;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .legend-image {
        width: 100%;
        height: 15px;
        display: flex;

        img {
            border-radius: 2px;
            width: 100%;
            height: 100%;
        }
    }

    .legend-values {
        width: calc(100% - 4px);
        display: flex;
        justify-content: space-between;
        padding: 2px;
        height: 12px;
        margin: 0;

        span {
            line-height: 12px;
            font-size: 10px;
            vertical-align: middle;
            margin: 0 2px;
        }
    }
}

.toggle-button-container {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.toggle-button {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    box-sizing: border-box;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: background-color 0.2s linear;
    transition: visibility  0.2s linear;

    width: 33px;
    height: 33px;

    margin: 5px;

    img {
        height: 24px;
    }
    mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
        margin: 0;
        padding: 0;

        color: #888;
    }

    &:hover {
        cursor: pointer;

        mat-icon {
            color: #555;
        }
    }
    &:active, &:focus {
        background-color: #DDD;
    }

    &.active {
        background-color: rgb(224, 224, 224);
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.4), 0 1px 5px 0 rgba(0,0,0,.4);

        mat-icon {
            color: #333;
        }
    }
}

.contextmenu-wrapper {
    position: absolute;
    background-color: #FFF;
    border: solid 1px #DDD;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    mat-nav-list {
        padding-bottom: 8px;

        mat-list-item {
            font-size: 0.85em;
            height: 1.6em;
            white-space: nowrap;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .toggle-button:first-child {
        height: 48px;
    }
    .contextmenu-wrapper {
        position: absolute;
        top: auto !important;
        left: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        width: 100%;

        mat-nav-list {
            padding-bottom: 8px;

            mat-list-item {
                font-size: 0.85em;
                height: 1.6em;
                white-space: nowrap;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

}
