<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div *ngIf="mapService.mapState.value !== mapstate.Presentation" class="current-exposure-container">
    <div [@fadeInAnimation]="displayItems" class="current-exposure">
        <div class="current-exposure-value not-selectable" [style.background-color]="getExposureColor()" (click)="focusCurrentLocation()">
            <p class="invert-text-color">{{ roundExposure(exposure * multiplier) }}</p>
        </div>

        <div class="current-exposure-correction">
            <div class="correction-button correction-inside not-selectable highlightable-color"
            (click)="setMultiplier($event, 0.7)" [ngClass]="{'active': (multiplier === 0.7)}"><mat-icon>home</mat-icon></div>
            <div class="correction-button correction-outside active not-selectable highlightable-color"
            (click)="setMultiplier($event, 1)" [ngClass]="{'active': (multiplier === 1)}"><mat-icon>nature_people</mat-icon></div>
        </div>
    </div>
</div>

<div *ngIf="this.mapService.mapState.value === mapstate.Presentation" class="current-exposure-container2">
    <div [@fadeInAnimation]="displayItems" class="current-exposure2">
        <div class="current-exposure-value2 not-selectable2" [style.background-color]="getExposureColor()" (click)="focusCurrentLocation()">
            <p class="invert-text-color2">{{ roundExposure(exposure * multiplier) }}</p>
        </div>
    </div>
</div>
