/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
$container-size: 99px;

.current-exposure-container {
    position: absolute;
    bottom: 54px;
    right: 0;
    margin: 5px;
    height: calc(#{ $container-size * 2 / 3 });
    width: calc(#{$container-size + 10px});
}

.current-exposure-container2 {
    position: absolute;
    bottom: 54px;
    right: -75px;
    margin: 5px;
    height: calc(#{ $container-size * 4 / 3 });
    width: calc(#{$container-size * 2 + 10px});
}


.current-exposure {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-exposure2 {
    width: 200%;
    height: 200%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.current-exposure-value {
    width: calc(#{ $container-size * 2 / 3 });
    height: calc(#{ $container-size * 2 / 3 });
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #FAFAFA;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #FAFAFA;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: background-color 500ms ease-in;

    &:hover {
        cursor: pointer;
    }
    p {
        font-size: 1.4em;
        text-align: center;
    }
}

.current-exposure-value2 {
    width: calc(#{ $container-size * 4 / 3 });
    height: calc(#{ $container-size * 4 / 3 });
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #FAFAFA;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #FAFAFA;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: background-color 500ms ease-in;

    &:hover {
        cursor: pointer;
    }
    p {
        font-size: 2.8em;
        text-align: center;
    }
}

.current-exposure-correction {

    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .correction-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: calc(#{ $container-size / 3 });
        height: calc(#{ $container-size / 3 });
        border: solid 1px #FAFAFA;
        box-sizing: border-box;
        background-color: #FAFAFA;
        transition: background-color 150ms ease-in;

        &:hover {
            cursor: pointer;
        }
        &.active {
            background-color: #DDD;
            color: #555 !important;
        }
        &:first-child {
            border-radius: 2px 2px 0 0;
        }
        &:last-child {
            border-radius: 0 0 2px 2px;
        }
    }
}

.current-exposure-correction2 {

    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    .correction-button2 {
        display: flex;
        justify-content: center;
        align-items: center;

        width: calc(#{ $container-size * 2 / 3 });
        height: calc(#{ $container-size * 2 / 3 });
        border: solid 1px #FAFAFA;
        box-sizing: border-box;
        background-color: #FAFAFA;
        transition: background-color 150ms ease-in;

        &:hover {
            cursor: pointer;
        }
        &.active {
            background-color: #DDD;
            color: #555 !important;
        }
        &:first-child {
            border-radius: 2px 2px 0 0;
        }
        &:last-child {
            border-radius: 0 0 2px 2px;
        }
    }
}
