<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div class="modal-container">
    <div class="modal-content">
        <mat-card>
            <mat-card-header>
                    <button *ngIf="isMobile" (click)="navigationService.getSideNav().open()" class="open-menu-button" mat-icon-button>
                            <mat-icon class="highlightable-color">menu</mat-icon>
                        </button>
                <button id="close-form" (click)="navigate('')" mat-icon-button class="highlightable-color close-modal-button">
                    <mat-icon>close</mat-icon>
                </button>
                <div id="questionnaire-header">
                    <h3 mat-dialog-title>Questionnaire</h3>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <iframe *ngIf = "link !== ''" id="typeform-iframe" [src]="link | safe"></iframe>
                <div class="spinner-holder">
                    <div *ngIf="!questionnaireRetrieved">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </div>
                    <span *ngIf="questionnaireRetrieved && link === ''">We currently have no questions to ask you, try again later.</span>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="modal-backdrop" (click)="router.navigate([''])"></div>
</div>
