/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
mat-sidenav {
    z-index: 100;
}

#route-container {
    width: 360px;
}

.transportation-buttons {
    padding: 8px;
    background-color: #FAFAFA;
}

.route-form-container {
    display: block;
    position: relative;
    border-top: solid 1px #BBBBBB;
    border-bottom: solid 1px #BBBBBB;

    mat-progress-bar {
        position: absolute;
        bottom: 0;
    }
}
.route-form {
    display: block;
    position: relative;
    padding: 16px 8px 8px 24px;
}

.route-planner-form {
    width: 100%;

    mat-form-field {
        width: 100%;
    }
}

.route-planner-switch {
    width: 100%;
}

.option-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    border-bottom: solid 1px #BBBBBB;

    button {
        margin: 6px;
        padding: 0 !important;
        color: #777777;

        &:hover {
            color: #555555;
        }

        span {
            margin: 0 10px;
        }
    }
}

.error-message {
    padding: 4px 24px;
    font-size: 12px;
}

.multiple-location-list mat-list-item,
.my-location-list mat-list-item {
    border-bottom: solid 1px #BBBBBB;
}
.my-location-list mat-list-item {
    margin-bottom: 1px;
}
.multiple-location-list span,
.my-location-list span {
    font-size: 13px;
    margin-left: 10px;
}
.multiple-location-list mat-icon,
.my-location-list mat-icon {
    color: #777777;
}
.multiple-location-list mat-list-item:hover,
.my-location-list mat-list-item:hover {
    cursor: default;

    mat-icon {
        color: #555555;
    }
    span {
        color: #000000;
    }
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.75em;
}
::ng-deep .mat-form-field-underline {
    bottom: 0.75em;
}
.search-box-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    margin: 5px;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    form {
        margin-left: 36px;
        width: 100%;
    }
    mat-form-field {
        width: 100%;
    }
    mat-icon {
        cursor: pointer;
    }

    ::ng-deep .mat-input-underline {
        display: none;
    }
    ::ng-deep .mat-form-field-infix {
        border-top: solid 8px transparent;
    }
    ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 8px;
    }
}

.close-routing {
    position: absolute;
    top: 0;
    left: -2px;
    min-width: 28px;
    width: 30px;
    margin-top: 120px;
    padding: 0;
    background-color: #FAFAFA;
    color: #222;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: left 0.2s linear;
}

.show-routing {
    position: absolute;
    top: 0;
    left: -2px;
    min-width: 28px;
    width: 30px;
    margin-top: 70px;
    padding: 0;
    background-color: #FAFAFA;
    color: #222;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: left 0.2s linear;
}
.show-routing:hover {
    left: 0px
}

.suffix-icon {
    margin-left: 16px;
    vertical-align: bottom;
}

/* Show search bar */
.mat-drawer-container {
    overflow: visible;
}
.mat-drawer-content {
    overflow: visible;
}

.active-button  {
    color: #333 !important;
}
.button-white {
    background-color: transparent;
    box-shadow: none !important;
}

mat-sidenav-content {
    mat-progress-bar {
        display: none;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    mat-sidenav {
        width: 100%;
    }

    #route-container {
        width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
    .search-box-card {
        width: calc(100% - 80px);
    }

    mat-progress-bar {
        position: absolute;
        top: 0;
        display: block !important;
        height: 2px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {

}
