<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<mat-sidenav-container>
    <mat-sidenav #routenav [fixedInViewport]="true" (swipeleft)="routenav.close()">
        <div id="route-container">
            <div class="transportation-buttons">
                <mat-grid-list cols="12" rowHeight="40px">
                    <mat-grid-tile colspan="12" rowspan="1">
                        <button (click)="navigationService.getSideNav().open()" style="position: absolute; top: 0; left: 0;" mat-icon-button>
                            <mat-icon class="highlightable-color">menu</mat-icon>
                        </button>

                        <div class="button-list-wrapper">
                            <button mat-icon-button class="button-white highlightable-color"
                                matTooltip="Foot" matTooltipPosition="below" matTooltipShowDelay="500"
                                [ngClass]="{'active-button': isTransport(0)}"
                                (click)="setTransport(0)" [disabled]="isSearching">
                                <mat-icon>directions_walk</mat-icon>
                            </button>
                            <button mat-icon-button class="button-white highlightable-color"
                                matTooltip="Bike" matTooltipPosition="below" matTooltipShowDelay="500"
                                [ngClass]="{'active-button': isTransport(1)}"
                                (click)="setTransport(1)" [disabled]="isSearching">
                                <mat-icon>directions_bike</mat-icon>
                            </button>
                            <button mat-icon-button class="button-white highlightable-color"
                                matTooltip="Car" matTooltipPosition="below" matTooltipShowDelay="500"
                                [ngClass]="{'active-button': isTransport(2)}"
                                (click)="setTransport(2)" [disabled]="isSearching">
                                <mat-icon>directions_car</mat-icon>
                            </button>
                        </div>
                        <button (click)="routenav.close()" mat-icon-button style="position: absolute; top: 0; right: 0;" class="highlightable-color">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <div class="route-form-container">
                <div class="route-form">
                    <mat-grid-list cols="12" rowHeight="20px">
                        <mat-grid-tile colspan="10" rowspan="{{ hasViaOption ? 9 : 6 }}">
                            <form #routeForm="ngForm" class="route-planner-form" (ngSubmit)="updateRouter()">
                                <mat-form-field>
                                    <input type="text" class="form-control" placeholder="From" [title]="locationQueries[0]" (focus)="hasFocus = 0" required matInput
                                        cdkFocusRegionstart ng-minlength="1" onClick="this.select();" [(ngModel)]="locationQueries[0]"
                                        name="from" (change)="updateRouter()" [disabled]="isSearching">
                                </mat-form-field>

                                <br>

                                <mat-form-field class="route-via" *ngIf="hasViaOption">
                                    <input type="text" class="form-control" placeholder="Via" [title]="locationQueries[1]" (focus)="hasFocus = 1" required matInput
                                        ng-minlength="1" onClick="this.select();" [(ngModel)]="locationQueries[1]" name="via"
                                        (change)="updateRouter()" [disabled]="isSearching">
                                </mat-form-field>

                                <br *ngIf="hasViaOption">

                                <mat-form-field>
                                    <input type="text" class="form-control" placeholder="To" [title]="locationQueries[2]" (focus)="hasFocus = 2" required matInput
                                        cdkFocusRegionEnd ng-minlength="1" onClick="this.select();" [(ngModel)]="locationQueries[2]"
                                        name="to" (change)="updateRouter()" [disabled]="isSearching">
                                </mat-form-field>

                                <button type="submit" class="hidden" [disabled]="routeForm.invalid">Submit</button>
                            </form>
                        </mat-grid-tile>

                        <mat-grid-tile colspan="2" rowspan="{{ hasViaOption ? 9 : 6 }}">
                            <button mat-icon-button class="highlightable-color"
                            matTooltip="Switch locations" matTooltipPosition="after" matTooltipShowDelay="500"
                            (click)="switchLocations();" [disabled]="isSearching">
                                <mat-icon>swap_vert</mat-icon>
                            </button>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>

                <mat-progress-bar mode="indeterminate" *ngIf="isSearching"></mat-progress-bar>
            </div>

            <div class="option-buttons-wrapper">
                <button class="highlightable-color" mat-button (click)="toggleVia()" [disabled]="isSearching"><mat-icon prefix>{{ hasViaOption ? 'remove_circle_outline' : 'add_circle_outline' }}</mat-icon><span>Via</span></button>
                <button class="highlightable-color" mat-button (click)="routeForm.ngSubmit.emit()" [disabled]="isSearching"><span>Plan</span><mat-icon suffix>keyboard_arrow_right</mat-icon></button>
            </div>

            <div class="my-location-list" *ngIf="!locationQueries.includes('My location')">
                <mat-grid-list cols="12" rowHeight="48px">
                    <mat-grid-tile colspan="12" rowspan="1">
                        <mat-nav-list style="width: 100%; padding-top: 0;">
                            <mat-list-item (click)="setMyLocation();" class="highlightable-color">
                                <mat-icon>my_location</mat-icon>
                                <span>My location</span>
                            </mat-list-item>
                        </mat-nav-list>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <div class="multiple-location-list" *ngIf="!(multipleLocations.locations.length < 2)">
                <mat-grid-list cols="12" rowHeight="48px">
                    <mat-grid-tile colspan="12" rowspan="{{multipleLocations.locations.length}}">
                        <mat-nav-list style="width: 100%; padding-top: 0;">

                            <mat-list-item *ngFor="let location of multipleLocations.locations" (click)="setSelectedGeoResult(multipleLocations.index, location)">
                                <mat-icon>place</mat-icon>
                                <span>{{ location.formatted_address }}</span>
                            </mat-list-item>
                        </mat-nav-list>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <div class="error-message" *ngIf="!!(routingError.message)">
                <p innerHTML="{{routingError.message}}"></p>
            </div>
        </div>
    </mat-sidenav>

    <mat-sidenav-content #routenavcontent>
        <button mat-button class="show-routing" *ngIf="!(!planningRoute || routenav.opened)" (click)="routenav.open()">
            <mat-icon class="highlightable-color">keyboard_arrow_right</mat-icon>
        </button>
        <button mat-button class="close-routing" *ngIf="!(!planningRoute || routenav.opened)" (click)="clearRouting()">
            <mat-icon class="highlightable-color">close</mat-icon>
        </button>

        <mat-progress-bar mode="indeterminate" *ngIf="isSearching"></mat-progress-bar>
    </mat-sidenav-content>
</mat-sidenav-container>
