/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
mat-card {
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

mat-form-field {
    width: 100%;
}

mat-card-content {
    padding-top: 12px;
}

.modal-container {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-backdrop{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(1,1,1,0.5);
    position: absolute;
}

.modal-content{
    z-index: 2;
    width: 350px;
    margin: 10px;
    display:flex;
    height: fit-content;
    max-height: 100%;
}

.spinner-holder {
    display:flex;
    justify-content: space-around;
}

.button {
    width: 100%;
    margin: 10px 0px 0px 0px !important;

}

#register-form > mat-slide-toggle  {
    display: flex;
    ::ng-deep label {
        display: flex;
        justify-content: space-between;

        span {
            width: auto;
            max-width:100%;
        }
    }
}
