<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div class="modal-container">
    <div class="modal-content">
        <mat-card>
            <button (click)="navigate('')" mat-icon-button class="highlightable-color close-modal-button">
                <mat-icon>close</mat-icon>
            </button>
            <h2 mat-card-title>Create an account</h2>
            <mat-divider></mat-divider>
            <mat-card-content>

                <form id="register-form" [formGroup]="registrationForm" (keydown.enter)="onSubmit()" (ngSubmit)="onSubmit()">
                    <mat-form-field style="width: 100%">
                        <input type="text" matInput placeholder="Username" formControlName="username">
                        <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Confirm Password" formControlName="confirmPassword">
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error *ngIf="confirmPassword.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input type="email" matInput placeholder="Email" formControlName="email">
                        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input type="number" matInput placeholder="Height(in cm)" formControlName="height">
                        <mat-error *ngIf="height.invalid">{{getHeightErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field style="width: 100%">
                        <input type="number" matInput placeholder="Weight(in kg)" formControlName="weight">
                        <mat-error *ngIf="weight.invalid">{{getWeightErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select formControlName="sex" matSelect placeholder="Sex">
                            <mat-option value="Male">Male</mat-option>
                            <mat-option value="Female">Female</mat-option>
                            <mat-option value="Other">Other</mat-option>
                        </mat-select>
                        <mat-error *ngIf="sex.invalid">{{getSexErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="string" matInput placeholder="Date of birth(dd-mm-yyyy)" value="dd-mm-yyyy"formControlName="dateOfBirth">
                        <mat-error *ngIf="dateOfBirth!= null && dateOfBirth.invalid">{{getDateOfBirthErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" matInput placeholder="Home address" formControlName="homeAddress">
                        <mat-error *ngIf="homeAddress.invalid">{{getHomeAddressErrorMessage()}}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" matInput placeholder="Work address" formControlName="workAddress">
                        <mat-error *ngIf="workAddress.invalid">{{getWorkAddressErrorMessage()}}</mat-error>
                    </mat-form-field>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <div *ngIf="registrationError">
                    <div *ngIf="registrationError.status === 0 || registrationError.status === 502" style="display: flex; justify-content: center">
                        <span style="color:#d50000;">Unable to connect to server</span>
                    </div>
                    <div *ngIf="registrationError.status === 400" style="display: flex; justify-content: center">
                        <span style="color:#d50000;">{{registrationError.error}}</span>
                    </div>
                </div>
                <div *ngIf="registering" class="spinner-holder">
                    <mat-spinner [diameter]="36"></mat-spinner>
                </div>
                <div *ngIf="!registering">
                    <div class="center-xs" style="width: inherit;">
                        <button mat-raised-button class="button" color="primary" (click)="onSubmit()" type="submit" [disabled]="registrationForm != null && !registrationForm.valid">Create account</button>
                        <button mat-raised-button class="button" (click)="navigate('login')" type="submit">Back to sign in</button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="modal-backdrop" (click)="navigate('')"></div>
</div>
