<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
* ©Copyright Utrecht University(Department of Information and Computing Sciences) -->

<ion-header>
  <ion-toolbar>
    <ion-title>
      MEES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <div id='debug-buttons' *ngIf="showDebugButtons()">
      <p><ion-button (click)="LogStoredLocations()">log locations</ion-button></p>
      <p><ion-button (click)="RemoveStoredLocations()">remove locations</ion-button></p>
      <p><ion-button (click)="openFrontEnd()">open frontend</ion-button></p>
      <p><ion-button (click)="LogToken()">log usertoken</ion-button></p>
      <p><ion-button (click)="SendFireBaseToken()">send firebase token</ion-button></p>
      <p><ion-button (click)="ForceSyncLocations()">force sync locations</ion-button></p>
    </div>

  </div>
</ion-content>
