<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<mat-card [@popupAnimation]='displayRouteSelection' class="route-selection-wrapper">
    <mat-icon (click)="closeRouteSelection()">close</mat-icon>

    <div class="route-selection">
        <div class="route-selection-header">
            {{!!location.address ? location.address : location.name}}
        </div>
        <div class="route-selection-position">
            {{location.lat}}, {{location.lng}}
        </div>
    </div>

    <div class="select-route-selection">
        <mat-icon (click)="leaveRating();" *ngIf="toggleRatingOn()">star</mat-icon>
        <mat-icon (click)="selectLocation(); hideRouteSelection();" *ngIf="toggleRoutePlannerOn()">directions</mat-icon>
    </div>
</mat-card>
