/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
.route-selection-wrapper {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0) scale(1,1);
    transform-origin: bottom;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;

    > mat-icon {
        font-size: 15px;
        height: 15px;
        width: 15px;
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
    }
    > mat-icon:hover {
        cursor: pointer;
    }

    .route-selection {
        margin: 8px 16px 8px 10px;
    }
    .route-selection-header {
        font-size: 1em;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .route-selection-position {
        font-size: 0.6em;
    }

    .select-route-selection {
        display: flex;
        align-items: center;
        margin: 5px 10px;

        mat-icon {
            font-size: 2.4em;
            width: 1em;
            height: 1em;
            color: #0197F6;
        }
        mat-icon:hover {
            cursor: pointer;
        }
        mat-icon:not(:last-child) {
            padding-right: 8px;
            border-right: solid 1px #BBBBBB;
        }
        mat-icon:last-child {
            padding-left: 8px;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .route-selection-wrapper {
        bottom: 0;
        width: calc(100% - 10px);
        font-size: 1.1em;
        padding: 8px;
    }
}
