<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div id="info-container" [@slideAnimation]='visibility'>

    <div id="sensor-info-header">
        <div id="sensor-info-title">
            <h1>{{latestSensor}}</h1>
        </div>

        <div id="sensor-info-date" class="sensor-date-switch" *ngIf="!mobile">
            <button mat-icon-button (click)="setDate(-1)"><mat-icon>chevron_left</mat-icon></button>
            <h2>{{ graphFrom }}</h2>
            <button mat-icon-button (click)="setDate(1)"><mat-icon>chevron_right</mat-icon></button>
        </div>

        <div id="sensor-info-buttons">
            <button mat-icon-button (click)="setVisibility(false)"><mat-icon>close</mat-icon></button>
        </div>
    </div>

    <div id="sensor-info-date-mobile" class="sensor-date-switch" *ngIf="mobile">
        <button mat-icon-button (click)="setDate(-1)"><mat-icon>chevron_left</mat-icon></button>
        <h2>{{ graphTo }}</h2>
        <button mat-icon-button (click)="setDate(1)"><mat-icon>chevron_right</mat-icon></button>
    </div>

    <div id="sensor-info-wrapper" (swiperight)="setDate(-1)" (swipeleft)="setDate(1)">
        <div id="sensor-info-grid-wrapper">
            <div id="sensor-info-grid">
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let measurement of latestMeasurement; let i = index">
                        <div class="measurement-wrapper" (click)="setNewDataSet(i)">
                            <p class="m-component">{{ measurement.component }}</p>
                            <p class="m-value">{{ measurement.value }} <span>{{ measurement.unit }}</span></p>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>

        <div id="chart-wrapper">
            <div id="chart-container">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>

    <div id="no-data-overlay" *ngIf="!latestSensor" (swiperight)="setDate(-1)" (swipeleft)="setDate(1)">
        <p>No data to display.</p>
    </div>

    <div class="graph-overlay" *ngIf="gettingGraphData">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>
</div>
