/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
#info-container {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 250px;
    width: 100%;
    font-family: 'Roboto', 'Helvetica-Neue', sans-serif;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.25);
    background-color: #FFF;
    z-index: 1000;
}

#sensor-info-header {
    padding: 5px 8px 5px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    border: solid 1px #BBBBBB;

    #sensor-info-title h1 {
        margin: 0 10px;
        padding: 0;
        text-align: center;
        font-size: 1.4em;
        line-height: 40px;
        vertical-align: middle;
    }

    #sensor-info-buttons {
        z-index: 20;
    }
}

.sensor-date-switch {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    h2 {
        margin: 0 10px;
        padding: 0;
        text-align: center;
        font-size: 1.1em;
        line-height: 40px;
        vertical-align: middle;
    }
}

#sensor-info-date-mobile {
    width: 100%;
    z-index: 10;
    border-bottom: solid 1px #BBBBBB;
    position: relative;
}

#sensor-info-wrapper {
    margin: 0;
    height: calc(100% - 52px);
    width: 100%;
    float: left;
    touch-action: pan-y !important;
    overflow-y: auto;
}

#sensor-info-grid-wrapper {
    width: 260px;
    height: 100%;
    float: left;

    #sensor-info-grid {
        margin: 4px;
        width: calc(100% - 8px);

        mat-grid-tile {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .measurement-wrapper {
            box-sizing: border-box;
            background-color: #FAFAFA;
            border: solid 1px #BBB;
            margin: 4px;
            width: calc(100% - 8px);
            height: calc(100% - 8px);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover, &.active {
                cursor: pointer;
                border: solid 2px #999;
                background-color: #EEE;
            }
            &:active {
                cursor: pointer;
                border: solid 2px #999;
                background-color: #DDD;
            }

            .m-component {
                font-weight: bold;
                text-align: center;
                margin: 3px;
            }
            .m-value {
                font-size: 0.8em;
                margin: 3px;
                text-align: center;
            }
        }
    }
}

#chart-wrapper {
    padding: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 280px);
    float: right;
}

#chart-container{
    height: 100%;
    width: 100%;
    position: relative;
}

#no-data-overlay {
    z-index: 2;

    position: absolute;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;

    touch-action: pan-y !important;
}

.graph-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    #info-container {
        height: 100%;
    }

    #sensor-info-header {
        padding: 5px 8px;
    }

    #sensor-info-wrapper {
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    #sensor-info-grid-wrapper {
        width: 100%;
        height: auto;
        float: left;
    }

    #chart-wrapper {
        width: calc(100% - 20px);
        float: left;
    }
    #chart-container{
        height: 90%;
        width: 100%;
        position: relative;
    }
}
