/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
#release-buttons {
  --loading_size: 64vw;
  width: 100%; height: 100%;
  background-color: white;
}

#release-buttons > div {
  position: absolute;
  width: var(--loading_size); height: var(--loading_size);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#release-buttons p {
  text-align: center;
}
