<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
* ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<ion-content>

  <!-- debug buttons, only shown in development -->
  <div id="debug-buttons" *ngIf="showDebugButtons()">

    <!-- Button which when clicked posts the locally stored locations on the console -->
    <ion-button (click) ="retrieveLocations()">
      Retrieve locations
    </ion-button>

    <!-- Button which when clicked removes the locally stored locations from the local database -->
    <ion-button (click) ="removeLocations()">
      Remove locations
    </ion-button>

    <!-- Button which when clicked opens the front end -->
    <ion-button (click) ="openFrontEnd()">
      Open front end
    </ion-button>

    <!-- Button which when clicked opens the front end -->
    <ion-button (click) ="retrieveToken()">
      Get token from local storage
    </ion-button>

    <!-- Button which when clicked opens the front end -->
    <ion-button (click) ="forceSynch()">
      Force synch locations
    </ion-button>

    <!-- Button, when clicked sends firebase token and user token to backend -->
    <ion-button (click) = "sendFireBaseToken()">
      Send firebase token to backend
    </ion-button>

  </div>

  <!-- full screen front end button, only shown in production -->
  <div id="release-buttons" (click)="openFrontEnd()" *ngIf="!showDebugButtons()">
    <div>
      <img src="../../assets/icon.gif">
      <p>Tap to continue...</p>
    </div>
  </div>

</ion-content>
