/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
.modal-content {
    height: 80%;
    width: 60vh;

    @media only screen and (max-width: 600px){
        height: 100%;   
    }
}

#minigame-iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

mat-card {
    height: 100%;
    padding: 5px 0 0 0;

}

mat-card-content {
    height: calc(100% - 60px);
}

mat-card-header {
    display: flex;
    justify-content: center;
    height: 60px;
}

.spinner-holder {
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.open-menu-button {
    position: absolute;
    left: 15px;
    top: 16px;
}
