<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div class="modal-container">
    <div class="modal-content">
        <mat-card>
            <mat-card-header>
                    <button (click)="navigationService.getSideNav().open()" class="open-menu-button" mat-icon-button>
                            <mat-icon class="highlightable-color">menu</mat-icon>
                        </button>
                <button id="close-form" (click)="navigate('')" mat-icon-button class="highlightable-color close-modal-button">
                    <mat-icon>close</mat-icon>
                </button>
                <div id="minigame-header">
                    <h3 mat-dialog-title>Minigames</h3>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <iframe id="minigame-iframe" src="about:blank" scrolling="no">
                    <p>minigames are not available in your browser</p>
                </iframe>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="modal-backdrop" (click)="navigate('')"></div>
</div>
