/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
.rows {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-content{
    z-index: 2;
    overflow-y: auto;
    overflow-x: auto;
    width: 350px;
    margin: 10px;
}

.modal-container {
    width: 100vw;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-backdrop{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(1,1,1,0.5);
    position: absolute;
}

mat-card-content {    
    margin-bottom: 0px;
}

mat-card-header {    
    text-align: left;
    display: inherit;
}

.spinner-holder {
    display:flex;
    justify-content: space-around;
}

form {
    padding-top: 10px;
}

.error{
    color:#d50000;
}
