<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div class="modal-container">
    <div class="modal-content">
        <mat-card style="height:fit-content;">
            <h2 mat-card-title style="margin:0%;">Forgot password</h2>
            <button (click)="navigate('')" mat-icon-button style="position: absolute; right: 15px; top: 16px;" class="highlightable-color">
                <mat-icon>close</mat-icon>
            </button>
        </mat-card>

        <mat-card class="example-card" style="height:fit-content;">

            <!-- CARD DESCRIBING FIRST STEP OF ACCOUNT RECOVERY PROCESS -->
            <mat-card-header>Step 1</mat-card-header>
            <mat-card-content>
                <div class="rows" style="padding-top: 10px;">
                    <span>Enter your email address to request a password reset.</span>
                    <br/>
                    <div>
                        <form class="rows" (ngSubmit)="onSubmitEmail()" [formGroup]="emailForm">
                            <mat-form-field style="width: 100%">
                                <input type="text" matInput placeholder="Email address" formControlName="email">
                                <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                            </mat-form-field>
                        </form>
                    </div>
                    <div *ngIf="emailFormFailed" style="display: flex; justify-content: center">
                        <mat-error class="error" *ngIf="(emailFormError.status === 0 || emailFormError.status === 502)">Unable to connect to server.</mat-error>
                        <mat-error class="error" *ngIf="emailFormError.status === 400">{{emailFormError.error}}</mat-error>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div *ngIf="sendingEmailRequest" class="spinner-holder">
                    <mat-spinner [diameter]="40"></mat-spinner>
                </div>
                <div *ngIf="!sendingEmailRequest" class="columns" style="justify-content: space-evenly;">
                    <button mat-raised-button color="primary" (click)="onSubmitEmail()" type="submit" class="box" [disabled]="!emailForm.valid || emailFormDisabled">Send</button>
                    <button mat-raised-button (click)="resetEmailForm()" type="submit" class="box">Clear</button>
                </div>
            </mat-card-actions>
        </mat-card>

        <!-- CARD DESCRIBING SECOND STEP OF ACCOUNT RECOVERY PROCESS -->
        <mat-card>
            <mat-card-header>Step 2</mat-card-header>
            <mat-card-content>
                <div class="rows" style="padding-top: 10px;">
                    Enter the token you have received in an email to set a new password.
                    <br/>
                    <form class="rows" (ngSubmit)="onSubmitPasswordReset()" [formGroup]="passwordForm">
                        <mat-form-field style="width: 100%">
                            <input type="text" matInput placeholder="Recovery Token" formControlName="token">
                            <mat-error *ngIf="token.invalid">{{getTokenErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="password" matInput placeholder="New Password" formControlName="newPassword" [type]="hidePassword ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="newPassword.invalid">{{getNewPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" [type]="hidePassword ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="confirmPassword.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </form>
                </div>
                <div *ngIf="passwordFormFailed" style="display: flex; justify-content: center">
                    <mat-error class="error" *ngIf="(passwordFormError.status === 0 || passwordFormError.status === 502)">Unable to connect to server.</mat-error>
                    <mat-error class="error" *ngIf="passwordFormError.status === 400">{{passwordFormError.error}}</mat-error>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div *ngIf="sendingResetUserPassword" class="spinner-holder">
                    <mat-spinner [diameter]="40"></mat-spinner>
                </div>
                <div *ngIf="!sendingResetUserPassword" class="columns" style="justify-content: space-evenly;">
                    <button mat-raised-button color="primary" (click)="onSubmitPasswordReset()" type="submit" class="box" [disabled]="!passwordForm.valid">Send</button>
                    <button mat-raised-button (click)="resetPasswordForm()" type="submit" class="box">Clear</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="modal-backdrop" (click)="navigate('')"></div>
</div>
