/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
.modal-container {
    flex-direction: column;
}


.modal-content{
    overflow-y: auto;
    overflow-x: auto;
    width: 350px;
}

.notifications {
    padding-top: 24px;
    padding-bottom: 12px;
    text-align: center;
}

.warning{
    color:#8c0b85;
}

.error{
    color:#d50000;
}

form, #locationCard {
    padding-top: 10px;
}

div > mat-checkbox, form > mat-slide-toggle  {
        ::ng-deep label {
            display: flex;
            justify-content: space-between;

            span {
                width: 100%;
                color: grey;
            }
        }
    }

.rows {
    display:flex;
    flex-direction: column;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

mat-error.error, mat-error.warning{
    padding-bottom: 3px;
}

mat-card-header {
    text-align: left;
    display: inherit;
    font-size: 18px;
}

#optionsheader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

mat-card-content {    
    margin-bottom: 0px;
}

mat-card-actions {
    padding-top: 24px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

mat-card {
    height: fit-content;
    padding-top: 5px;
}


.content {
    padding-top: 24px;
    padding-bottom: 24px;
}

@media only screen and (max-width: 600px) {
    .modal-content{
        width: 100%;
    }
}

.open-menu-button {
    position: absolute;
    left: 15px;
    top: 16px;
}
