<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div class="modal-container">
    <div class="modal-content">
        <mat-card style="height:fit-content;">
            <div id = "optionsheader">
                <h3 style="margin:0%;">Profile settings</h3>
            </div>
            <button *ngIf="isMobile" (click)="navigationService.getSideNav().open()" class="open-menu-button" mat-icon-button>
                    <mat-icon class="highlightable-color">menu</mat-icon>
                </button>
            <button id="close-form" (click)="navigate('')" mat-icon-button class="highlightable-color close-modal-button">
                <mat-icon>close</mat-icon>
            </button>
            <mat-divider></mat-divider>
            <div class="content" style="padding-top: 0px;">
                <mat-card-content>
                    <form class="rows" (ngSubmit)="onSubmitProfile()" [formGroup]="profileForm">
                        <mat-card-header style="margin:-16px 0 -10px -16px;" class="content">Email</mat-card-header>
                        <mat-form-field>
                            <input type="email" matInput placeholder="Email address" formControlName="email">
                            <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <mat-card-header style="margin:0 0 -10px -16px;" class="content">Personal Information</mat-card-header>
                        <mat-form-field>
                            <input type="number" matInput placeholder="Height(in cm)" formControlName="height">
                            <mat-error *ngIf="height.invalid">{{getHeightErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="number" matInput placeholder="Weight(in kg)" formControlName="weight">
                            <mat-error *ngIf="weight.invalid">{{getWeightErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-select formControlName="sex" matSelect placeholder="Sex" >
                                <mat-option value="Male">Male</mat-option>
                                <mat-option value="Female">Female</mat-option>
                                <mat-option value="Other">Other</mat-option>
                            </mat-select>
                            <mat-error *ngIf="sex.invalid">{{getSexErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="date" matInput placeholder="Date of birth(dd-mm-yyyy)" formControlName="dateOfBirth">
                            <mat-error *ngIf="dateOfBirth.invalid">{{getDateOfBirthErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="text" matInput placeholder="Home address" formControlName="homeAddress">
                            <mat-error *ngIf="homeAddress.invalid">{{getHomeAddressErrorMessage()}}</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input type="text" matInput placeholder="Work address" formControlName="workAddress">
                            <mat-error *ngIf="workAddress.invalid">{{getWorkAddressErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </form>
                    <div class="rows notifications">
                        <mat-error class="error" *ngIf="profileFormPostFailed && (profileFormPostError.status === 0 || profileFormPostError.status === 502)">Unable to connect to server.</mat-error>
                        <mat-error class="error" *ngIf="profileFormPostFailed && profileFormPostError.status === 400">{{profileFormPostError.error}}</mat-error>
                        <mat-error class="warning" *ngIf="profileGetFailed">There was a problem downloading your settings.</mat-error>
                    </div>
                </mat-card-content>
                <mat-card-actions class="columns" style="justify-content: space-evenly; padding-top: 0%;">
                    <button mat-raised-button color="primary" (click)="onSubmitProfile()" type="submit" [disabled]="!profileForm.valid">
                        Save</button>
                    <button mat-raised-button color="white" type="submit" (click)="resetProfileForm()">
                        Reset</button>
                </mat-card-actions>
            </div>
            <mat-divider></mat-divider>
            <div class="content">
                <mat-card-header>
                    Password
                </mat-card-header>
                <div>
                    <mat-card-content>
                        <form class="rows" (keydown.enter)="onSubmitAccountForm()" (ngSubmit)="onSubmitAccountForm()" [formGroup]="accountForm">
                            <mat-form-field>
                                <input type="password" matInput placeholder="Old Password" formControlName="currentPassword" [type]="hideCurrentPassword ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">{{hideCurrentPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                                <mat-error *ngIf="currentPassword.invalid">{{getOldPasswordErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <input type="password" matInput placeholder="New Password" formControlName="newPassword" [type]="hideNewPassword ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                                <mat-error *ngIf="newPassword.invalid">{{getNewPasswordErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field>
                                <input type="password" matInput placeholder="Confirm Password" formControlName="confirmNewPassword" [type]="hideNewPassword ? 'password' : 'text'">
                                <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                                <mat-error *ngIf="confirmNewPassword.invalid">{{getConfirmPasswordErrorMessage()}}</mat-error>
                            </mat-form-field>

                        </form>
                        <div class="rows notifications">
                            <mat-error class="error" *ngIf="accountFormPostFailed && (accountFormPostError.status === 0 || accountFormPostError.status === 502)">Unable to connect to server.</mat-error>
                            <mat-error class="error" *ngIf="accountFormPostFailed && accountFormPostError.status === 400">{{accountFormPostError.error}}</mat-error>
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="columns" style="justify-content: space-evenly; padding-top: 0%;">
                        <button mat-raised-button color="primary" (click)="onSubmitAccountForm()" type="submit" [disabled]="!accountForm.valid">
                            Save</button>
                        <button mat-raised-button color="white" type="submit" (click)="resetAccountForm()">
                            Clear</button>
                    </mat-card-actions>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="content" style="padding-bottom: 0px;">
                <mat-card-header>Account</mat-card-header>
                <div>
                    <mat-card-content>
                        <div class="rows" style="padding-top: 10px;" *ngIf="viewDeleteWarning">
                            <span>All of your data stored by MEES will be destroyed when you delete your account. This action is
                                irreversible.
                            </span>
                            <span style="padding-top:10px;">Are you sure you want to delete your account?</span>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <div *ngIf="!viewDeleteWarning" class="columns" style="justify-content: space-evenly;">
                            <button mat-raised-button (click)="viewDeleteWarning=!viewDeleteWarning" type="submit">Delete account</button>
                        </div>
                        <div *ngIf="viewDeleteWarning" class="columns" style="justify-content: space-evenly;">
                            <button mat-raised-button color="warn" [disabled]="disableDeleteAccount" (click)="deleteAccount()" type="submit">Delete</button>
                            <button mat-raised-button color="primary" (click)="viewDeleteWarning=!viewDeleteWarning" type="submit">Cancel</button>
                        </div>
                    </mat-card-actions>
                    <div class="rows notifications">
                        <mat-error class="error" *ngIf="deleteFailed">Failed to delete your account.</mat-error>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div class="modal-backdrop" (click)="navigate('')"></div>
</div>
