<!--This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences)-->

<head>
            <script src="phaser.js"></script>
            <script src="mainMenu.js"></script>
            <script src="mainStartScreen.js"></script>
            <script src="motorMainScene.js"></script>
            <script src="mainEndScreen.js"></script>  
            <script src="reactionMainScene.js"></script>
            <script src="multitaskMainScene.js"></script>
            <script src="rapidMainScene.js"></script>
            <script src="spatialSpanMainScene.js"></script>
            <script src="fillingSquaresMainScene.js"></script>
            <script src="mainTutorialScreen.js"></script>            
            <script src="additionMainScene.js"></script>
            <script src="minigamesIndex.js"></script>            
</head>