/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
// CSS imports
@import url('https://unpkg.com/leaflet@1.3.1/dist/leaflet.css');
//@import url('assets/mdl/material.min.css');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "flexboxgrid/css/flexboxgrid.min.css";
@import "angular-calendar/css/angular-calendar.css";
@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.css');
//@import url('../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css');
@import url('./assets/css/MarkerCluster.Custom.scss');

// CSS Styling
html, body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: 100vw 100vh;
}

maestro-app {
    display: block;
    height: 100%;
}

mat-sidenav-container {
    width: 100%;
    height: 100% !important;
}

.container-fluid {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container-no-margin {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none !important;
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.invert-text-color {
    background: inherit;
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    filter: invert(1) grayscale(1) contrast(100);
}

// Leaflet styling

.sensorValue {
    background: rgba($color: #4b4b4b, $alpha: 0.0);
    border: 2px solid rgba($color: white, $alpha: 0.0);
    border-radius: 50%;
    color: white;
    text-shadow: -1.5px 0 rgba($color: black, $alpha: 0.9), 0 1.5px rgba($color: black, $alpha: 0.9), 1.5px 0 rgba($color: black, $alpha: 0.9), 0 -1.5px rgba($color: black, $alpha: 0.9);
    font-weight: bold;
    font-size: 23px;
    padding-top: 2px;
    padding-bottom: 2px;
}

// Remove the tooltip boxshadow on the sensormarkers
.sensorValue.leaflet-tooltip {
    box-shadow: none;
}

// Remove the tooltip arrow on the sensormarkers
.sensorValue.leaflet-tooltip-top:before,
.sensorValue.leaflet-tooltip-bottom:before,
.sensorValue.leaflet-tooltip-left:before,
.sensorValue.leaflet-tooltip-right:before {
    display: none;
}

// Grayscale filter on images in the tilelayer (when mapid has grayscale class)
#mapid .leaflet-tile-container > img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important;
    transition: filter 0.25s linear;
}
#mapid.grayscale-tiles .leaflet-tile-container > img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%) !important;
}

// Modal styling
.modal-container {
    width: 100vw;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.close-modal-button {
    position: absolute !important;
    right: 15px;
    top: 16px;
}

.modal-backdrop {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(1,1,1,0.5);
    position: absolute;
}

.modal-content{
    z-index: 2;
    max-width: 100%;
    height: fit-content;
}

.mat-input-infix label {
    color: #777777 !important;
}
.mat-focused .mat-form-field-label {
    color: #333333 !important;
}

.soft-color {
    color: #888;
}

.hard-color {
    color: #555;
}

.highlightable-color {
    color: #888 !important;

    &:hover {
        color: #555 !important;
        cursor: pointer;
    }
}

.highlighted-color {
    color: #555 !important;
}

.non-highlightable-color {
    color: #616161;
}

h3 {
    text-align: center;
    font-weight: 400;
}
