<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div class="modal-container">
    <div class="modal-content">
        <mat-card class="example-card" style="height:fit-content;">
            <button (click)="navigate('')" mat-icon-button class="highlightable-color close-modal-button">
                <mat-icon>close</mat-icon>
            </button>
            <h2 mat-card-title>Sign in</h2>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="row" style="padding: 10px;">
                    <form (keydown.enter)="onSubmit()" style="width: -webkit-fill-available;" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                        <mat-form-field style="width: 100%">
                            <input type="text" matInput placeholder="Username" formControlName="username">
                            <mat-error *ngIf="username.invalid">Enter your username.</mat-error>
                        </mat-form-field>

                        <mat-form-field style="width: 100%">
                            <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Password" formControlName="password">
                            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                            <mat-error *ngIf="password.invalid">Enter your password.</mat-error>
                        </mat-form-field>
                    </form>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <div *ngIf="error" style="display: flex; justify-content: center">
                    <div *ngIf="error.status === 0 || error.status === 502">
                        <span style="color:#d50000;">Unable to connect to server</span>
                    </div>
                    <div *ngIf="error.status === 401">
                        <span style="color:#d50000;">Invalid username and/or password</span>
                    </div>
                </div>
                <div *ngIf="loggingIn" class="spinner-holder">
                    <mat-spinner [diameter]="36"></mat-spinner>
                </div>
                <div *ngIf="!loggingIn">
                    <div class="center-xs" style="width: inherit;">
                        <button class="col-xs-6 box button" mat-raised-button color="primary" (click)="onSubmit()" type="submit" [disabled]="!loginForm.valid">Sign in</button>
                        <button class="col-xs-6 box button" mat-raised-button (click)="navigate('/account-recovery')" type="submit">Forgot password</button>
                        <button class="col-xs-6 box button" mat-raised-button (click)="navigate('/register')" type="submit">Create an account</button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="modal-backdrop" (click)="navigate('')"></div>
</div>
