/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
.modal-container {
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal-backdrop{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(1,1,1,0.5);
    position: absolute;
}

.modal-content{
    width: 350px;
    margin: 10px;
}

.spinner-holder {
    display:flex;
    justify-content: space-around;
}

.button {
    width: 100%;
    margin: 10px 0px 0px 0px !important;

}
