<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div class="modal-container">
    <div class="modal-content">
        <mat-card>
            <mat-card-header>
                <button *ngIf = "isMobile" (click)="navigationService.getSideNav().open()" class="open-menu-button" mat-icon-button>
                    <mat-icon class="highlightable-color">menu</mat-icon>
                </button>
                <button (click)="closeModal()" mat-icon-button class="highlightable-color close-modal-button">
                    <mat-icon>close</mat-icon>
                </button>
                <div class="calendar-header">

                    <button mat-icon-button mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (click)="refreshExposure(-1)" class="highlightable-color">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                    </button>
                    <h3 mat-dialog-title>{{getMonthName(calendar.viewDate)}}</h3>
                    <button mat-icon-button mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="refreshExposure(1)" class="highlightable-color">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content>
                <div class="spinner-holder">
                    <div *ngIf="error">No exposure data available.</div>
                    <div *ngIf="!error && refreshing">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </div>
                </div>
                <div [ngStyle]="{ 'visibility': refreshing || error ? 'hidden' : 'visible' }">
                    <ng-template #customCellTemplate let-day="day" let-locale="locale">
                        <div class="main-cell" (click)="navigate(day.date)">
                            <span class="cal-day-number cell-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
                            <div *ngIf="exposureSet != null" class="col-cell-content" [style.min-width.%]="getCircleWidth(day.date)" [style.border-radius.%]="50"
                                [style.padding-top.%]="getCircleWidth(day.date)" [style.background-color]="getExposureColor(day.date)">
                                <span *ngIf="getExposure(day.date)" class="col-cell-content invert-text-color">
                                    {{getExposure(day.date)}}
                                </span>
                            </div>
                            <span *ngIf="warningThreshold(getExposure(day.date))" class="warning-icon">
                                <mat-icon>warning</mat-icon>
                            </span>
                        </div>
                    </ng-template>

                    <div>
                        <mwl-calendar-month-view [ngClass]="{'month-7cols': weekCount === 6, 'month-6cols': weekCount === 5}" #calendar [viewDate]="viewDate" [weekStartsOn]="1" [cellTemplate]="customCellTemplate">
                        </mwl-calendar-month-view>
                    </div>
                    <div>
                        <div class="warning-infotext" *ngIf="monthContainsWarning()">
                            <span><mat-icon>warning</mat-icon></span><span>Your exposure seems to be high on this day, this could have health implications.</span>
                        </div>
                        <p class="infotext">Visit 
                        <a href="http://www.who.int/news-room/fact-sheets/detail/ambient-(outdoor)-air-quality-and-health">
                            World Health Organization
                        </a> for more information about air quality and health.</p>
                    </div> 
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="modal-backdrop" (click)="closeModal()"></div>
</div>
