/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
.calendar-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-content {
    padding-top: 15px;
}

mat-card-header {
    display: flex;
    justify-content: center;
}

.close-button {
    display: flex;
    flex-direction: row-reverse;
}

.open-menu-button {
    position: absolute;
    left: 15px;
    top: 16px;
}


.modal-content {
    overflow-y: auto;
    position: absolute;
    top: 5%;
    width: 800px;
    @media only screen and (max-width: 600px){
        top: 0;
        height: 100%;
    }
}

.main-cell{
    position: relative; 
	height: 100%;
    width: 100%;
    cursor: pointer;
}

.col-cell-content{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.cell-number{
    position: relative; 
    top: 0; 
    margin: 0;
}
 
.calendar-header{
    min-width: fit-content;
    width: 40%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

::ng-deep .mat-card-header-text {
    margin: 0px !important;
    display: none;
}

.mat-dialog-title {
    margin: 12px 0px 12px 0px;
}

mat-card {
    min-width: 50%;
    max-width: 100%;
    height: fit-content;
    padding-top: 5px;
}



// @media only screen and (max-height: 850px) {
//     mat-card {
//         height: 100%;
//         // width: 100%;
//     }
// }

.month-6cols{
    @media only screen and (max-height: 775px) {
        ::ng-deep .cal-month-view .cal-day-cell {
            min-height: calc((100vh - 115px) / 6) !important;
        }
    }
}

.month-7cols{
    @media only screen and (max-height: 775px) {
        ::ng-deep .cal-month-view .cal-day-cell {
            min-height: calc((100vh - 115px) / 7) !important;
        }
    }
}

.cal-month-view .cal-day-cell:not(:last-child){
    border: 0px !important;
}
.cal-month-view .cal-days{
    border: 0px !important;
}

.cal-month-view{
    border: 0px !important;
}

.spinner-holder {
	position: absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.warning-icon {
    position: absolute;
    bottom: 0;
    left: 4px;
}

.infotext {
    text-align: center;
}

.warning-infotext {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
}
