/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
#rate-container {
    width: 300px;
}

.rating-buttons {
    padding: 8px;
    background-color: #FAFAFA;
}

.ratingtext {
    padding: 20px 0;
    width: 100%;
    text-align: center;
    background-color: mat-color(#FAFAFA,default);

    &:first-child {
        padding-top: 5px;
        padding-bottom: 0;
    }
    &.average-rating {
        font-size: 1.1em;
        font-weight: bold;
        border-bottom: solid 1px #BBB;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.rate-form {
    display: block;
    position: relative;
}

.rating-stars {
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 20px;

    mat-icon {
        color: #777777;
        flex-grow: 1;
        text-align: center;

        &.active {
            color: #FFE400;
        }
        &:hover ~ mat-icon {
            color: #fff177;
        }
    }

    &:hover > mat-icon {
        color: #777777;
    }

    mat-icon:hover {
        cursor: pointer;
        color: #fff177;
    }
}
