<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div class="modal-container">
    <div class="modal-content">
        <mat-card id="rate-container">
            <div class="rate-form">
                <div class="ratingtext">Average rating at {{ address }}:</div>
                <div class="ratingtext average-rating">{{ getAverage }}</div>
                <div class="ratingtext">What do you think about the air quality around here?</div>
                <div class="rating-stars">
                    <mat-icon (click)="ratingValue = 5" [ngClass]="{'active': ratingValue >= 5}">star</mat-icon>
                    <mat-icon (click)="ratingValue = 4" [ngClass]="{'active': ratingValue >= 4}">star</mat-icon>
                    <mat-icon (click)="ratingValue = 3" [ngClass]="{'active': ratingValue >= 3}">star</mat-icon>
                    <mat-icon (click)="ratingValue = 2" [ngClass]="{'active': ratingValue >= 2}">star</mat-icon>
                    <mat-icon (click)="ratingValue = 1" [ngClass]="{'active': ratingValue >= 1}">star</mat-icon>
                </div>
                <mat-grid-list cols="12" rowHeight="40px">
                    <mat-grid-tile colspan="12" rowspan="1">
                        <button mat-button style="position: absolute; left: 3px;" (click)='closeModal()'>Cancel</button>
                        <button mat-button style="position: absolute; right: 3px;" (click)='submitRating()'>Submit</button>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-card>
    </div>
    <div class="modal-backdrop" (click)="closeModal()"></div>
</div>
