<!-- This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
  ©Copyright Utrecht University(Department of Information and Computing Sciences) -->
<div class="modal-container">
    <div class="col-xs-8 col-md-2 modal-content">
        <mat-card>
            <button class="col-xs-6 box" mat-raised-button color="primary" (click)="onSubmit()" type="submit">Delete Account</button>
        </mat-card>
    </div>
    <div class="modal-backdrop" (click)="router.navigate([''])"></div>
</div>
