/* This program has been developed by students from the bachelor Computer Science at Utrecht University within the Software and Game project course(First half of 2019)
 * ©Copyright Utrecht University(Department of Information and Computing Sciences) */
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner-holder {
	display: flex; 
	width: 100%; 
	justify-content: center;
}
