.leaflet-marker-icon {
    background-color: transparent;
    border: none;
}

.marker-cluster-custom-icon {
    width: 40px;
	height: 40px;
    border-radius: 50%;

    border: solid 1px transparent;
    box-sizing: border-box;
}
.marker-cluster-custom-icon > div {
    width: 30px;
    height: 30px;
    margin-left: 4px;
    margin-top: 4px;

    border-radius: 50%;
    border: solid 1px transparent;
    box-sizing: border-box;

    text-align: center;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
.marker-cluster-custom-icon > div > span {
    line-height: 28px;
}

.marker-cluster-parent > div {
    border-color: #FFF;
}
